.custom-font-inter{
    font-family: 'Inter', sans-serif;
}
#content-table > tbody{
    border: 3px solid red;
}
#content-table tbody tr:first-child td{
    padding-top: 2rem;
    
}
#content-table tbody tr:nth-last-child(2) td{
    padding-bottom: 2rem;
}
#content-table tbody tr:last-child td{
    border-top: 2px;
    padding-top: 1rem;
}
